*{
  margin: 0px;
  padding:0px;
  }

  .grid{
  display: grid;

  grid-template-columns: 0.5fr 3fr 3fr 3fr;
  grid-template-rows: 0.5fr 0.2fr 2fr 0.1fr;
  grid-template-areas:
  "one two three three"
  "four five six seven"
  "eight nine ten eleven"
  "twelve thirteen fourteen fifteen";
  }


  .one
  {
	 grid-area: one;
   background-color:#ffff00;
   padding: 20px;


  }

  .two
  {
	  grid: two;
    background-color:#ffff00;
     font-size: 32;
    text-align: left;
    padding: 20px;

  }

  .three
  {
	  grid-area: three;
    background-color:#ffff00;
    padding: 20px;
  }

  .four
  {
	  grid-area: four;
	   background-color:#ffff00;

  }

  .five
  {
	  grid-area: five;
    background-color:#ffff00;
      text-align: center;
  }
.five:hover{
  background-color:#ffffff;

}
  .six
  {
  grid-area: six;
  background-color:#ffff00;
  text-align: center;
  }

  .six:hover{
    background-color:#ffffff;
  }
  .seven
  {
	  grid-area: seven;
    background-color:#ffff00;
    text-align: center;

  }
  .seven:hover{
    background-color:#ffffff;
  }


  .eight
  {
	  grid-area: eight;
  }

  .vericaltext{
    width:1px;
    word-wrap: break-word;
    font-family: monospace; /* this is just for good looks */
    white-space: pre;/* this is for displaying whitespaces */
}

    .nine
    {
      grid-area: nine;
      padding-top: 75px;
      padding-left: 50px;
    }

    .ten
    {
      grid-area: ten;
      padding-top: 75px;
      padding-left: 50px;
    }

    .eleven
{
  grid-area: eleven;
  padding-top: 75px;
  padding-left: 50px;
}

.twelve
{
  grid-area: twelve;
  background-color:#8c8c8c;
  padding-top: 90px;
  padding-bottom: 50px;
}

.thirteen
{
  grid-area: thirteen;
  background-color:#8c8c8c;
  padding-top: 90px;
  padding-bottom: 50px;
  color: #ffffff;
  font-family: palantino;
}

.fourteen
{
  grid-area: fourteen;
  background-color:#8c8c8c;
  padding-top: 90px;
  padding-bottom: 50px;
  color: #ffffff;
  font-family: sans-serif;
}

.fifteen
{
  grid-area: fifteen;
  background-color:#8c8c8c;
  padding-top: 90px;
  padding-bottom: 50px;
  color: #ffffff;
  font-family: sans-serif;
}
